[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
dj-database-url = "*"
django-environ = "*"
psycopg2-binary = "*"
opencv-python = "*"

[requires]
python_version = "3.6"
