.dashboard-container {
  background-color: #cfe8fc;
  /* Placeholder background image for testing */
  background: url('../../assets/turkuamkrgbmuokattu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 53vh;
}
